.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/
Figures/
Manuscript/
Plots/
Presentation/
Results/
sandbox/
Notes
Poster
Figures_relative_error/
Figures_relative/
Figures_200km/
Figures_500_and_100/
Figures_cell_models/
